.wrapper {
	margin-left:auto;
	margin-right:auto;
}

html, body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	background-color:#fff;
	width:100%;
	color:#A6AFB4;
}

html {
	overflow-y: scroll;
}

.header {
	background-color:#fff;
	position:fixed;
	z-index:2;
	opacity: 1;
	width: 100%;
	margin: 0 0 0;
	-webkit-filter: drop-shadow(0px 1px 7px black);
	transition:all .2s ease-in-out;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.header:hover {
	-webkit-filter: drop-shadow(0px 1px 15px black);
}

.container {
	max-width:960px;
	margin: 10 auto;
	padding: 0;

}

.header ul {
	list-style:none;
	text-align:right;
}

.header ul:hover {
	cursor:pointer;
}

.header li {
	display:inline-block;
	text-align: right;
	padding: 0px 30px;
	font-size: 25px;
	background-color: ##b3b3b3;
	transition:all .2s ease-in-out;
   	transform: scale(1);
   	border-right: #CDCDCD 1px solid;
}

.border-left {
	border-left: #CDCDCD 1px solid;
}

.header a {
	text-decoration:none;
	color:#000;
	transition: color .2s;
}

.header li:hover {
   	transform: scale(1.1);
}

.header .main {
	background-color:##b3b3b3 ;
}


.jumbotron {
	background-image:url(../img/jumbotron.jpg);
	height: 550px;
	width: 1024px;
	-webkit-filter: sepia(0.5);
	-webkit-filter: brightness(1.1);
	text-align:center;
	z-index: 1;
	width: auto;
	padding-top:30px;
	border-bottom:7px #8c8c8c solid;
}

.jumbotron h1 {
	text-align:center;
	vertical-align:middle;
	color:#233543;
	width:auto;
	font-size:56px;
	margin-top:45px;
	text-shadow: 1px 1px #CDCDCD;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.jumbotron h1:hover {
	cursor:pointer;
}

.jumbotron .super-bold{
	font-size:80px;
}

.row .container {
	margin-top:10px;
	margin-bottom:100px;
	padding-bottom:10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.grow-opacity {
	opacity: .7;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   transition:all .2s ease-in-out;
   transform: scale(1);
}

.grow-opacity:hover {
	opacity: 1;
	transform:scale(1.1);

}

.projects .container .row {
	margin-bottom:50px;
	margin-right:auto;
	margin-left:auto;
}

.projects .container .row img {
	max-width:400px;
	max-height:auto;
}

.supporting .container .row h2 {
	color:#233543;
	font-size: 38px;
}

.supporting .container .row p {
	color:#5885a7;
	font-size: 18px;

}

.supporting .container .row img {
	border-radius:3px;
	width:80px;
	height:80px;
	margin-right:auto;
	margin-left:-5;
	opacity:.7;
}

.supporting .container {
	text-align:center;
	padding-top:85px;
	padding-bottom:120px;
}

.footer {
  border-top: 1px solid #dbdbdb;
  background-color: #f3f3f3;
  padding: 20px 0px 80px;
  bottom
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin: auto auto;
}

.footer li {
  color: #999;
  font-weight: 600;
}